html {
  height: 100%;
}
body {
  height: 100%
}
h1 {

}
.container {
  width: 980px;

}
.contact {
  border: solid 1px #B1B1B1;
}
.contact td {
  width: 560px;
  padding-left: 1rem;
  background-color: #B1B1B1;
}
input {
  width: 400px;
}
